<div class="main-footer">
    <div id="footer-wrap">
        <div class="footer-stat">
            <div class="foot" data-aos="fade-down" data-aos-duration="3000">
                <h3>Contact</h3>
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    167-B, Boring Canal Road,
                    Opposite Sai Mandir, Patna - 1, Bihar
                </p>
                <p>
                    <i class="fa fa-phone"></i>
                    +91 9999999999
                </p>
                <p>
                    <i class="fa fa-envelope"></i>
                    support@bodh.org.in
                </p>
            </div>
            <div class="foot" data-aos="fade-down" data-aos-duration="3000">
                <h3>Quick Links</h3>
                <div class="footer-nav-box">
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Partner program</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Direct Mail Academy</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="foot" data-aos="fade-down" data-aos-duration="3000">
                <h3>Connect with us</h3>
                <p class="social-size">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </p>
                <h4>Subscribe</h4>
                <input type="text" placeholder="Enter email"><button>Go</button>
            </div>
        </div>
    </div>
    <div class="feeter">
        <div id="footer" data-aos="fade-up" data-aos-duration="3000">
            <p>
                Copyright (c)
                <script>document.write(new Date().getFullYear())</script> BODH. All rights reserved.
            </p>
            <div class="breaker"></div>
        </div>
    </div>
</div>
