<header class="animate fadeInDown two">
    <div class="logo">
        <a href="/">
            <img src="~/Content/images/bodh-logo.png" alt="Bodh logo">
        </a>
    </div>
    <nav>
        <div class="nav-mobile">
            <a id="navbar-toggle" href="javascript:void(0)">
                <span></span>
            </a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/" class="active1">
                    Home
                </a>
            </li>
            <li>
                <a href="~/Home/ourwork" class="active2">Our Work</a>
            </li>
            <li>
                <a href="~/Home/bodhway" class="active3">The Bodh Way</a>
            </li>
            <li>
                <a href="~/Home/Services" class="active4">Services</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="active5">Resources</a>
                <ul class="navbar-dropdown">
                    <li>
                        <a href="~/Home/blog">Blog</a>
                    </li>
                    <li>
                        <a href="~/Home/studiespaper">Studies and Papers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Home/Contact" class="single-nav">Contact</a>
            </li>
        </ul>
    </nav>
</header>
