<header class="animate fadeInDown two">
    <div class="logo">
        <a href="https://bodh.org.in/">
            <img src="~/Content/images/bodh-logo.png" alt="Bodh logo">
        </a>
    </div>
    <nav>
        <div class="nav-mobile">
            <a id="navbar-toggle" href="javascript:void(0)">
                <span></span>
            </a>
        </div>
        <ul class="nav-list">
            <li>
                <a href="https://bodh.org.in/" class="active">
                    Home
                </a>
            </li>
            <li>
                <a href="~/Home/ourwork">Our Work</a>
            </li>
            <li>
                <a href="javascript:void(0)">The Bodh Way</a>
                <ul class="navbar-dropdown">
                    <li>
                        <a href="#">Adopting Gifted Children</a>
                    </li>
                    <li>
                        <a href="#">Career Counselling</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Services</a>
                <ul class="navbar-dropdown">
                    <li>
                        <a href="#">Barrier Identification</a>
                    </li>
                    <li>
                        <a href="#">Message Development</a>
                    </li>
                    <li>
                        <a href="#">Solution Testing</a>
                    </li>
                    <li>
                        <a href="#">Integrated Message Mix</a>
                    </li>
                    <li>
                        <a href="#">Monitoring & Evaluation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Resources</a>
                <ul class="navbar-dropdown">
                    <li>
                        <a href="~/Home/blog">Blog</a>
                    </li>
                    <li>
                        <a href="#">Guest Contribution</a>
                    </li>
                    <li>
                        <a href="~/Home/studiespaper">Studies and Papers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Home/Contact" class="single-nav">Contact</a>
            </li>
        </ul>
    </nav>
</header>
