
.vs/Bodh/config/applicationhost.config
.vs/Bodh/config/applicationhost.config
.vs/Bodh/FileContentIndex/1f342f03-5254-447b-912c-2cb45cc2453b.vsidx
.vs/Bodh/FileContentIndex/1f342f03-5254-447b-912c-2cb45cc2453b.vsidx
.vs/Bodh/FileContentIndex/6de27388-127d-4b1f-b3cd-b2fefb48d41e.vsidx
.vs/Bodh/v17/.suo
.vs/Bodh/v17/DocumentLayout.json
.vs/Bodh/v17/fileList.bin
obj/Debug/Bodh.csproj.AssemblyReference.cache
obj/Debug/Bodh.csproj.CoreCompileInputs.cache
obj/Debug/Bodh.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/Bodh/config/applicationhost.config
/.vs/Bodh/FileContentIndex/1f342f03-5254-447b-912c-2cb45cc2453b.vsidx
/.vs/Bodh/FileContentIndex/838a8640-8c42-457f-b540-65ed283002d6.vsidx
/.vs/Bodh/FileContentIndex/d15b84dc-9d8d-4e7c-9877-2ffc2c253f6f.vsidx
/bin/Bodh.dll
/bin/Bodh.dll.config
/bin/Bodh.pdb
/.vs/Bodh/v17/.suo
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.csdl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.msl
/obj/Debug/edmxResourcesToEmbed/Models/DBModel.ssdl
/obj/Debug/Bodh.csproj.Up2Date
/obj/Debug/Bodh.dll
/obj/Debug/Bodh.pdb
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/TempPE/Models.DBModel.Context.cs.dll
/obj/Debug/TempPE/Models.DBModel.cs.dll
/obj/Debug/TempPE/Models.DBModel.Designer.cs.dll
