<!-- Pages Banner -->
<div class="other-pages-banner">
    <div class="page-background"></div>
    <h2>Barrier Identification</h2>
</div>

<!-- Pages Content -->
<div class="pages-content">
    <img src="~/Content/images/work-area.png" alt="" class="pages-img" />
    <div class="entry">
        <p>Barrier identification focuses on ‘framing the right problem’ and ‘framing it right’ to create an effective solution. This stage is guided, in principle, by the Empathize and Define steps of the Human Centered Design (HCD) process to give our team an accurate and thorough understanding of the needs and motivations of our target populations.</p>
        <p>We use a range of methodologies from ethnographic immersions to literature review, secondary data analysis and formative research, using both qualitative and quantitative techniques, to clearly identify the behavioral barriers that need to be addressed.</p>
        <p>Using a behavioral science lens, we analyze user-behaviors to understand the systematic biases and heuristics that guide their conscious and sub-conscious decision making. This understanding helps our team to come up with ‘nudges’ and ‘design innovations’ around which the solutions are developed.</p>
    </div>
</div>
