


<section id="blog">
    <div class="main-blog">
        <h1>Latest Blog</h1>
        <div class="popular-blog">
            <div class="blog-img">
                <img src="~/Content/images/blog/World-Mental-Health-Day-Theme-Purpose-and-Its-Importance.jpg" alt="" />
            </div>
            <div class="blog-content">
                <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="clock-svg"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>Subrat Rai</h3>
                <h2>Beyond Therapy: Everyday Practices for Mental Wellbeing</h2>
                <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="clock-svg"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg> 09th May, 2024</p>
                
                <a href="~/Home/BlogDetails" class="blog-btn">Read more</a>
            </div>
        </div>
    </div>
    <div class="blog-list">
        <div class="blog-box">
            <div class="blogs">
                <div class="brick"> <a href="~/Home/BlogDetails"> <img src="~/Content/images/blog/1.png" alt="" /> </a> </div>
                <h3>Yahya Yasir <span>14 Jun, 2024</span></h3>
                <h2><a href="~/Home/BlogDetails">Overcoming Stigma in Mental Health</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
            <div class="blogs">
                <div class="brick"> <a href="~/Home/BlogDetails"> <img src="~/Content/images/blog/2.png" alt="" /> </a> </div>
                <h3>Milan Jha <span>09 Jun, 2024</span></h3>
                <h2><a href="~/Home/BlogDetails">Holistic Approaches to Mental Wellness</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
            <div class="blogs">
                <div class="brick"> <a href="~/Home/BlogDetails"> <img src="~/Content/images/blog/3.png" alt="" /> </a> </div>
                <h3>Rituparna Singh <span>01 Jun, 2024</span></h3>
                <h2><a href="~/Home/BlogDetails">Building Emotional Strength in Tough Times</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
            <div class="blogs">
                <div class="brick"> <a href="#"> <img src="~/Content/images/blog/4.png" alt="" /> </a> </div>
                <h3>Yahya Yasir <span>14 Jun, 2024</span></h3>
                <h2><a href="#">How Mental Health Impacts Every Aspect of...</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
            <div class="blogs">
                <div class="brick"> <a href="#"> <img src="~/Content/images/blog/5.png" alt="" /> </a> </div>
                <h3>Milan Jha <span>09 Jun, 2024</span></h3>
                <h2><a href="#">Understanding Anxiety Disorders</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
            <div class="blogs">
                <div class="brick"> <a href="#"> <img src="~/Content/images/blog/6.png" alt="" /> </a> </div>
                <h3>Rituparna Singh <span>01 Jun, 2024</span></h3>
                <h2><a href="#">The Therapeutic Power of Creativity</a></h2>
                <p>Discuss the significance of breaking the stigma surrounding mental health and why it's important to have open conversations about it.</p>
            </div>
        </div>
    </div>
</section>

