<h1 class="service-title">The Bodh Way</h1>
<div class="bodh-manage">
    <div class="bodh-way">
        <p>Traditional SBC approaches have done very well to identify key drivers of human behavior. Programs have used these approaches in the past with limited success as most approaches assumed that human beings make rational decisions. However, it is now widely accepted that several systemic biases influence our decision-making, and most humans make sub-optimal choices to satisfice rather than maximize (Simon, 1982; Kahneman, 2002).</p>
        <p>At BODH we understand that human behaviours are much more complex, and are shaped by cognitive, social and structural drivers, and the multiple effects between these. People are highly emotional and influenced by their environment, by those who matter to them and by others they interact with. In most instances, they do not simply consider the benefits and costs of a choice and then make a rational decision on the best course of action. When faced with complex choices or incomplete information, people use heuristics or mental shortcuts to make decisions, come to judgements, and solve problems. We leverage the understanding of behavioral science to go beneath the surface drivers and identify the undercurrents that shape human decisions.</p>
    </div>
    <div class="bodh-graphic">
        <p>Our efforts to diagnose and analyse what drives specific behaviours begin with a conceptual framework of behaviour change followed through different stages. We have used Fishbein’s Integrative Model of Behavior, Fogg’s Behavioral Model, Socio-ecological Model, Social Cognitive Model and Transtheoretical Model among different frameworks based on the needs of specific projects and target segments.</p>
        <div class="graph-list">
            <div class="brick">
                <a href="~/Content/images/integrative-model.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/integrative-model.png" alt="" />
                </a>
            </div>
            <div class="brick">
                <a href="~/Content/images/motivation.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/motivation.png" alt="" />
                </a>
            </div>
            <div class="brick">
                <a href="~/Content/images/sem.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/sem.png" alt="" />
                </a>
            </div>
            <div class="brick">
                <a href="~/Content/images/human-behavior.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/human-behavior.png" alt="" />
                </a>
            </div>
            <div class="brick">
                <a href="~/Content/images/health-behavior.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/health-behavior.png" alt="" />
                </a>
            </div>
            <div class="brick">
                <a href="~/Content/images/conation-affect-cognition.png" class="js-img-viwer" data-caption="" data-id="">
                    <img src="~/Content/images/conation-affect-cognition.png" alt="" />
                </a>
            </div>
        </div>
        <p>The next stage of our problem-solving process uses the human centered design approach, which begins with Empathizing with the segments with whom we want to work and Defining the problem based on their insights and needs. We use a variety of formative research methods including ethnographic immersions, participatory learning methods, observations and other qualitative methods including depth interviews and group discussions. The next stage is Ideating with the communities and system stakeholders to co-design solutions by asking ‘how-might-we’ solve the problems that the project is focusing on. The solution concepts are then prioritized with the communities and system stakeholders for iteratively Testing through low and high-fidelity Prototypes until the rough edges have been smoothed out, and the solutions are ready for Implementation and Evaluation on a wider scale. The HCD process typically progresses in a wave like fashion diverging and converging at different points, till we have generated requisite evidence for the ’Proof-of-Concept’ to be implemented at scale.</p>
        <p>
            <img src="~/Content/images/diverge.jpg" alt="Diverge" class="diverge" />
        </p>
        <p><a href="/Home/ourwork">Click HERE</a> to see learn how we have implemented these approaches for different projects.</p>
    </div>
</div>
<!-- Picture Gallery -->
<link href="~/Content/css/smartphoto.min.css" rel="stylesheet" />
<script src="~/Content/js/smartphoto.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new smartPhoto(".js-img-viwer");
    });
</script>