@{
    ViewBag.Title = "Bodh Credential";
    Bodh.Models.Bodh_DBEntities db = new Bodh.Models.Bodh_DBEntities();
    var bloglist = db.Tbl_FileResource.Where(x => x.DocumentType == "1").ToList();
}
<style>
    .pdf-data {
        position: relative;
        padding: 0 10px
    }

    .manage-pdf {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2
    }

    .active5 {
        color: #000 !important;
    }
</style>
<div class="download-paper">
    <h2>Bodh Credential</h2>
    <hr />
    <div class="download-list">
        @if (bloglist != null)
        {
            foreach (var item in bloglist.OrderByDescending(x => x.DateofIssue).Take(5).ToList())
            {
                var PPath = Bodh.Models.CommonModel.GetFileUrl(item.AttachmentFile);
                string dtdate = Bodh.Models.CommonModel.FormateDtDMY(item.DateofIssue.Value.ToString());

                <div class="downloads">
                    <h3><i class="fa fa-file-pdf pdf-icon"></i> BODH Credentials PCI</h3>
                    <p><i class="fa fa-clock"></i> @dtdate</p>
                    <div class="pdf-data">
                        <div class="manage-pdf">
                        </div>
                        <object data="@PPath" type="text/html" width="100%" height="200"></object>
                    </div>
                    <a href="@PPath" target="_blank">Download PDF</a>
                </div>

            }
        }
        </div>
    </div>
