<style>
    .active2 {
        color: #000 !important;
    }
</style>

<div class="pages-banner"></div>
<div class="our-work-content">
    <h1>Iron Folic Acid (IFA) Adherence</h1>
    <p>Developing innovative solutions to increase adherence to iron folic acid (IFA) supplements among women of reproductive age and adolescents in Bihar</p>
</div>

<div class="full-content wh">
    <div class="page-content">
        <div class="content-box-2">
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" class="img-lft" />
            <h3>Project Geography:</h3>
            <p>Bhojpur and Begusarai districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>Bihar, India's third most populous state with a largely rural population <span class="high-bg">(85%)</span>, faces a significant challenge with anemia. Nearly <span class="high-bg">65%</span> of women in Bihar are anemic (NFHS-5 data).</p>
            <p>To address low adherence to iron folic acid (IFA) tablets, a key intervention for pregnant women, PCI India partnered with design and creative agencies. Data from CARE's household surveys revealed behavioral barriers like forgetfulness, lack of perceived benefits, and even advice against taking the tablets. This project emphasizes the importance of understanding user emotions and implementing interventions with a human-centered design approach.</p>
            <h3>Objectives:</h3>
            <p><b>The major objectives of the program are:</b></p>
            <ol>
                <li>1)	To increase uptake and adherence to IFA supplements among women of reproductive age, including pregnant and lactating women, and adolescents;</li>
                <li>2)	To generate implementation knowledge on how to deliver at scale withing the government system; and</li>
                <li>3)	To reduce Gender Barriers affecting access and adherence to IFA supplements.</li>
            </ol>
        </div>
        <div class="content-box-1"></div>
    </div>
</div>
<div class="quick-tab-bg">
    <div class="quick-tab">
        <a href="~/Home/MaleEngagement" class="work-list">
            <img src="~/Content/images/engaging-men.jpg" alt="Male Engagement" />
            <h4>Male Engagement</h4>
        </a>
        <a href="~/Home/RCCEBihar" class="work-list">
            <img src="~/Content/images/community-engagement.jpg" alt="RCCE BIHAR" />
            <h4>RCCE BIHAR</h4>
        </a>
        <a href="~/Home/SRHRNeedsInMigrant" class="work-list">
            <img src="~/Content/images/migrant-girl.jpg" alt="SRHR Needs in Migrants" />
            <h4>SRHR Needs in Migrants</h4>
        </a>
        @*<a href="~/Home/IFAAdherence" class="work-list">
                <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
                <h4>IFA Adherence</h4>
            </a>*@
    </div>
</div>
