@{
    ViewBag.Title = "Home Page";
}

<!-- Mission -->
<div class="banner">
    <div class="banner-content">
        <h2 class="drop-in">
            What is <span>BODH?</span>
        </h2>
        <div class="overflow-hidden">
            <p class="drop-in-2">
                BODH is PCI India’s vertical that focuses on developing highly effective behavioural interventions
                by understanding drivers of human behaviour
            </p>
        </div>
    </div>
    <div class="banner-image animate fadeInRight four">
        <img src="~/Content/images/banner-image.png" alt="Bodh Banner">
    </div>
</div>
<!-- Work -->
<div class="grey-bg">
    <div class="work-area">
        <h2>Our Area of Works</h2>
        <div class="work-box">
            <div class="work-content">
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/child.png" alt="Child Development" />
                    </span>
                    <h3>
                        Formative Research and Behavioural Barrier Identification
                    </h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/adolescent.png" alt="Child Development" />
                    </span>
                    <h3>
                        Designing and Testing of Messages and Materials
                    </h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/adult.png" alt="Child Development" />
                    </span>
                    <h3>Solution Testing</h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/healthy.png" alt="Child Development" />
                    </span>
                    <h3>Designing and implementation of SBC campaigns</h3>
                </div>
            </div>
            <div class="work-photo" data-aos="fade-down" data-aos-duration="3000">
                <img src="~/Content/images/work-area.png" alt="Area of Work" />
            </div>
        </div>
    </div>
</div>
<!-- Methodology -->
<div class="method-section">
    <h2>Our Methodology</h2>
    <div class="methodology">
        <div class="method-content">
            <div class="method-box box-arrange1" data-aos="fade-up" data-aos-duration="3000">
                <span class="bgr1">
                    <img src="~/Content/images/diagnose.png" alt="Diagnose" />
                </span>
                <h3>Diagnose</h3>
                <p>
                    Getting into the shoes of the extreme user to discover invisible
                    problems quicker.
                </p>
            </div>
            <div class="method-box box-arrange2" data-aos="fade-up" data-aos-duration="3000">
                <span class="bgr2">
                    <img src="~/Content/images/define.png" alt="Diagnose" />
                </span>
                <h3>Define</h3>
                <p>
                    Breaking down the larger objective into nuanced, specific problem
                    statements.
                </p>
            </div>
            <div class="method-box box-arrange3" data-aos="fade-up" data-aos-duration="3000">
                <span class="bgr3">
                    <img src="~/Content/images/design.png" alt="Diagnose" />
                </span>
                <h3>Design</h3>
                <p>
                    Ideating and low-fidelity prototyping, looking for the smallest
                    ways to make real change happen.
                </p>
            </div>
            <div class="method-box box-arrange4" data-aos="fade-up" data-aos-duration="3000">
                <span class="bgr4">
                    <img src="~/Content/images/test.png" alt="Diagnose" />
                </span>
                <h3>Test</h3>
                <p>
                    Testing each prototype with users and then iterating the solutions
                    to launch into a pilot or an RCT.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Journey -->
<div class="journey-section">
    <div class="client-list">
        <h2 data-aos="fade-up" data-aos-duration="3000">
            Our journey starts at a commitment
            and ends at a progress.
        </h2>
        <h3>
            <span class="left-line" data-aos="fade-up" data-aos-duration="3000"></span>Our Clients<span class="right-line"></span>
        </h3>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/amazon.png" alt="amazon"> </div>
            <div><img src="~/Content/images/client/amdocs 1.png" alt=""> </div>
            <div><img src="~/Content/images/client/bajaj-finserv.png" alt=""> </div>
        </div>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/flipkart.png" alt=""> </div>
            <div><img src="~/Content/images/client/glance.png" alt=""> </div>
            <div><img src="~/Content/images/client/raymond.png" alt=""> </div>
        </div>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/sbi-life.png" alt=""> </div>
            <div><img src="~/Content/images/client/tech-mahindra.png" alt=""> </div>
            <div><img src="~/Content/images/client/viacom18.png" alt=""> </div>
        </div>
    </div>
    <div class="journey-data">
        <div class="round-data size5" data-aos="fade-down" data-aos-duration="3000">
            <h4>15+</h4>
            <p>States in India</p>
        </div>
        <div class="round-data size4" data-aos="fade-down" data-aos-duration="3000">
            <h4>20+</h4>
            <p>Global Clients</p>
        </div>
        <div class="round-data size3" data-aos="fade-down" data-aos-duration="3000">
            <h4>10+</h4>
            <p>Working Projects</p>
        </div>
        <div class="round-data size2" data-aos="fade-down" data-aos-duration="3000">
        </div>
        <div class="round-data size1" data-aos="fade-down" data-aos-duration="3000">
        </div>
    </div>
</div>
<!-- Blog -->
<div class="recent-blog">
    <div class="blog">
        <h2 data-aos="fade-down" data-aos-duration="3000">Latest Blogs</h2>
        <div class="product_slider3" data-aos="fade-down" data-aos-duration="3000">
            <div class="amazingcarousel-list-container">
                <ul class="amazingcarousel-list">
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog1.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Roobaroo Meeting</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog2.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Award by Ministry Child Development</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog3.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Launch of our Bodh App</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog1.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Roobaroo Meeting</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="amazingcarousel-prev"></div>
                <div class="amazingcarousel-next"></div>
            </div>
        </div>
    </div>
</div>