@{
    ViewBag.Title = "Home Page";
}

<!-- Mission -->
<div class="banner">
    <div class="banner-content">
        <h2 class="drop-in">
            What is <span>BODH?</span>
        </h2>
        <div class="overflow-hidden">
            <p class="drop-in-2">
                BODH is PCI’s initiative that focuses on developing highly effective behavioural interventions by understanding drivers of human behaviour
            </p>
        </div>
    </div>
    <div class="banner-image animate fadeInRight four">
        <img src="~/Content/images/banner-image.png" alt="Bodh Banner">
    </div>
</div>
<!-- Work -->
@*<div class="grey-bg">
    <div class="work-area">
        <h2>Our Area of Works</h2>
        <div class="work-box">
            <div class="work-content">
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/child.png" alt="Child Development" />
                    </span>
                    <h3>
                        Formative Research and Behavioural Barrier Identification
                    </h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/adolescent.png" alt="Child Development" />
                    </span>
                    <h3>
                        Designing and Testing of Messages and Materials
                    </h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/adult.png" alt="Child Development" />
                    </span>
                    <h3>Solution Testing</h3>
                </div>
                <div class="boxed" data-aos="fade-up" data-aos-duration="3000">
                    <span>
                        <img src="~/Content/images/healthy.png" alt="Child Development" />
                    </span>
                    <h3>Designing and implementation of SBC campaigns</h3>
                </div>
            </div>
            <div class="work-photo" data-aos="fade-down" data-aos-duration="3000">
                <img src="~/Content/images/work-area.png" alt="Area of Work" />
            </div>
        </div>
    </div>
</div>*@
<!-- Methodology -->
<div class="method-section">
    <h2>Our Process</h2>
    <div class="methodology">
        <div class="method-content">
            <div class="method-box box-arrange1" data-aos="fade-up" data-aos-duration="3000">
                <h4>Stage 1</h4>
                <h3>Define</h3>
                <p>
                    We deep dive to understand the real reason behind behaviours.
                </p>
            </div>
            <div class="method-box box-arrange2" data-aos="fade-up" data-aos-duration="3000">
                <h4>Stage 2</h4>
                <h3>Design and test</h3>
                <p>
                    We brainstorm with communities to design solutions to overcome the identified hurdles. We then test these co-created solutions with a small group, gathering feedback to refine them for maximum impact.
                </p>
            </div>
            <div class="method-box box-arrange3" data-aos="fade-up" data-aos-duration="3000">
                <h4>Stage 3</h4>
                <h3>Apply</h3>
                <p>
                    We launch the optimised intervention on a larger scale, monitoring impact and adapting as needed.
                </p>
            </div>
        </div>
        <div class="process-design">
            <img src="~/Content/images/original-left.png" alt="" class="process-img" data-aos="fade-left" data-aos-duration="3000" />
            <img src="~/Content/images/arrow.png" alt="" class="process-arrow" data-aos="fade-left" data-aos-duration="3000" />
            <img src="~/Content/images/Middle.png" alt="" class="process-img process-mar-top process-mar-left" data-aos="fade-left" data-aos-duration="3000" />
            <img src="~/Content/images/arrow.png" alt="" class="process-arrow" data-aos="fade-left" data-aos-duration="3000" />
            <img src="~/Content/images/right.png" alt="" class="process-img process-mar-left" data-aos="fade-left" data-aos-duration="3000" />
        </div>
    </div>
</div>
<!-- Journey -->
@*<div class="journey-section">
    <div class="client-list">
        <h2 data-aos="fade-up" data-aos-duration="3000">
            Our journey starts at a commitment
            and ends at a progress.
        </h2>
        <h3>
            <span class="left-line" data-aos="fade-up" data-aos-duration="3000"></span>Our Clients<span class="right-line"></span>
        </h3>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/amazon.png" alt="amazon"> </div>
            <div><img src="~/Content/images/client/amdocs 1.png" alt=""> </div>
            <div><img src="~/Content/images/client/bajaj-finserv.png" alt=""> </div>
        </div>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/flipkart.png" alt=""> </div>
            <div><img src="~/Content/images/client/glance.png" alt=""> </div>
            <div><img src="~/Content/images/client/raymond.png" alt=""> </div>
        </div>
        <div class="client-logo" data-aos="fade-up" data-aos-duration="3000">
            <div><img src="~/Content/images/client/sbi-life.png" alt=""> </div>
            <div><img src="~/Content/images/client/tech-mahindra.png" alt=""> </div>
            <div><img src="~/Content/images/client/viacom18.png" alt=""> </div>
        </div>
    </div>
    <div class="journey-data">
        <div class="round-data size5" data-aos="fade-down" data-aos-duration="3000">
            <h4>15+</h4>
            <p>States in India</p>
        </div>
        <div class="round-data size4" data-aos="fade-down" data-aos-duration="3000">
            <h4>20+</h4>
            <p>Global Clients</p>
        </div>
        <div class="round-data size3" data-aos="fade-down" data-aos-duration="3000">
            <h4>10+</h4>
            <p>Working Projects</p>
        </div>
        <div class="round-data size2" data-aos="fade-down" data-aos-duration="3000">
        </div>
        <div class="round-data size1" data-aos="fade-down" data-aos-duration="3000">
        </div>
    </div>
</div>*@
<!-- Blog -->
<div class="recent-blog">
    <div class="blog">
        <h2 data-aos="fade-down" data-aos-duration="3000">Latest Blogs</h2>
        <div class="product_slider3" data-aos="fade-down" data-aos-duration="3000">
            <div class="amazingcarousel-list-container">
                <ul class="amazingcarousel-list">
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog1.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Roobaroo Meeting</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog2.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Award by Ministry Child Development</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog3.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Launch of our Bodh App</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="amazingcarousel-item">
                        <div class="amazingcarousel-item-container">
                            <div class="post-tag">
                                <a href="#">
                                    <img src="~/Content/images/blog1.png" alt="" class="blog-img" />
                                </a>
                                <h3>
                                    <a href="#">Roobaroo Meeting</a>
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industrys
                                    standard dummy text ever since
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="amazingcarousel-prev"></div>
                <div class="amazingcarousel-next"></div>
            </div>
        </div>
    </div>
</div>