
<style>
    .active2 {
        color: #000 !important;
    }
</style>

<div class="pages-banner"></div>
<div class="our-work-content">
    <h1>JEEViKA Technical Support Program (JTSP)</h1>
    @*<p>Developing innovative solutions to address SRHR needs of migrant households</p>*@
</div>

<div class="full-content wh">
    <div class="page-content">
        <div class="content-box-1"></div>
        <div class="content-box-2">
            @*<img src="~/Content/images/migrant-girl.jpg" class="img-rt" alt="Sexual and Reproductive Health and Rights (SRHR) Needs in Migrants" />*@
            <p>JEEViKA Technical Support Program (JTSP), which PCI is implementing since 2015 in continuation to the Parivartan Project (2012-15), is an example of a multifaceted, multi-stakeholder complex project. For this project PCI has used Behavioral Science informed HCD process to create a 15 episode edutainment drama series <span class="high-bg">(Chatkare Zindagi Ke)</span> which has health, nutrition, gender and adolescent focused messages woven into the storyline. PCI also created a video-bot to answer Frequently Asked Questions (FAQs) and digital games for use by the community facilitators to engage the audience and nudge them into behavior change.</p>
            <p>The series was awarded the IAMAI Award in 2023 for best use of mobile for social & economic development and is being scaled up in Bihar by Integrated Child Development Services (ICDS) and State Health Society (SHS) in addition to JEEViKA’s SHG network. The digital job-aid <span class="high-bg">“Khush-haal Parivar”</span> won the Bronze Award for best use of digital tech for social development at the IAMAI Awards in 2024.</p>
            <h3>Edutainment Series:</h3>
            <div class="cool-graphic">
                <div class="graphic">
                    <img src="~/Content/images/jtsp/chatkar-zindagi-ke.jpg" alt="" />
                </div>
                <div class="graphic">
                    <img src="~/Content/images/jtsp/batiyaen-sumangal-se.png" alt="" />
                </div>
                <div class="graphic">
                    <img src="~/Content/images/jtsp/sehat-ka-tadka.png" alt="" />
                </div>
                <div class="graphic">
                    <img src="~/Content/images/jtsp/chatkare-bhare-sawaal.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="games">
    <h3 class="page-title2">Digital Games</h3>
    <div class="digital-games">
        <div><img src="~/Content/images/jtsp/sc1.jpg" alt="" /></div>
        <div><img src="~/Content/images/jtsp/sc2.jpg" alt="" /></div>
        <div><img src="~/Content/images/jtsp/sc3.jpg" alt="" /></div>
        <div><img src="~/Content/images/jtsp/sc4.jpg" alt="" /></div>
        <div><img src="~/Content/images/jtsp/sc5.jpg" alt="" /></div>
        <div><img src="~/Content/images/jtsp/sc6.jpg" alt="" /></div>
    </div>
</div>

<h3 class="page-title2">Awards</h3>
<div class="awards">
    <div><img src="~/Content/images/jtsp/award-1.jpg" alt="" /></div>
    <div><img src="~/Content/images/jtsp/award-2.jpg" alt="" /></div>
    <div><img src="~/Content/images/jtsp/award-3.jpg" alt="" /></div>
</div>

<div class="video-box">
    <h2>Chatkare Promo</h2>
    <div class="side-vide">
        <div class="side-video-container">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/cwtH6g4ti4c?si=_xttNAgNpwipa1uP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="quick-tab-bg">
    <div class="quick-tab">
        <a href="~/Home/MaleEngagement" class="work-list">
            <img src="~/Content/images/engaging-men.jpg" alt="Male Engagement" />
            <h4>Male Engagement</h4>
        </a>
        <a href="~/Home/RCCEBihar" class="work-list">
            <img src="~/Content/images/community-engagement.jpg" alt="RCCE BIHAR" />
            <h4>RCCE BIHAR</h4>
        </a>
        <a href="~/Home/SRHRNeedsInMigrant" class="work-list">
            <img src="~/Content/images/migrant-girl.jpg" alt="SRHR Needs in Migrants" />
            <h4>SRHR Needs in Migrants</h4>
        </a>
        <a href="~/Home/IFAAdherence" class="work-list">
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
            <h4>IFA Adherence</h4>
        </a>
    </div>
</div>