<style>
    .active2 {
        color: #000 !important;
    }

    @@media screen and (max-width: 900px) {
        .active2 {
            color: #FFA968 !important;
        }
    }
    .ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc .ndfHFb-c4YZDc-Wrql6b {
        display: none
    }

    .ndfHFb-c4YZDc-Wrql6b {
        display: none !important;
        opacity: 0;
    }

    .ndfHFb-c4YZDc-Bz112c ndfHFb-c4YZDc-DH6Rkf-Bz112c {
        display: none !important;
        opacity: 0;
    }
</style>

<div class="pages-banner"></div>
<div class="our-work-content">
    <h1>ENGAGING MEN FOR BETTER HEALTH & NUTRITION OUTCOMES</h1>
    <p>The project sought to devise and test several innovative solutions that focus on engaging men as a channel for promoting more equitable gender relations, joint household decision-making practices, and improved family planning and nutrition behaviours. BODH took the approach anchored in Human-Centred Design (HCD) research and behavioural science. Out of several concepts co-created with diverse stakeholders, two were shortlisted for rapid prototyping and user-testing. The project was implemented in Sarairanjan and Khanpur blocks of Samastipur district in Bihar, between 2019-2022 with support from Bill and Melinda Gates Foundation.</p>
</div>

<div class="full-content wh">
    <div class="page-content">
        <div class="content-box-2">
            <p><img src="~/Content/images/engaging-men.jpg" alt="ENGAGING MEN FOR BETTER HEALTH & NUTRITION OUTCOMES" class="img-rt" />The project sought to devise and test several innovative solutions that focus on engaging men as a channel for promoting more equitable gender relations, joint household decision-making practices, and improved family planning and nutrition behaviours. BODH took the approach anchored in Human-Centred Design (HCD) research and behavioural science. Out of several concepts co-created with diverse stakeholders, two were shortlisted for rapid prototyping and user-testing. The project was implemented in Sarairanjan and Khanpur blocks of Samastipur district in Bihar, between 2019-2022 with support from Bill and Melinda Gates Foundation.</p>
            <p>Hamari Shaadi, Hamare Sapne, a financial planning course, was developed and tested with newlywed couples. The couples were enrolled to helped them better understand how they can achieve their life goals and aspirations. This served as a platform to incorporate conversations on family planning, delaying and spacing as a way to reach their financial goals. The financial education course also had a few modules related to the child’s nutrition needs and the link between undernutrition and increased expenses on child health.</p>
            <h3>KEY ACHIEVEMENTS</h3>
            <div class="box-flex">
                <div class="boxes-line">
                    <p>Spousal Communication on child nutrition went up by almost <span class="high-bg">19%</span> points. Spousal communication on family planning needs went up by <span class="high-bg">14%</span> points.</p>
                </div>
                <div class="boxes-line"><p>Couples in the intervention villages started substituting packaged foods (biscuits, chips) being given to young children with home-cooked nutritious foods.</p></div>
                <div class="boxes-line"><p>Parents reported increased activity and visible growth signs and reduced episodes of sickness among children.</p></div>
                <div class="boxes-line"><p>Couples enrolled for the family planning intervention reported the adoption of modern contraceptive methods and discussion with the village health worker to learn more about spacing and delaying methods.</p></div>
            </div>
        </div>
    </div>
</div>

<div class="video-box">
    <h2>Watch the Film</h2>
    <div class="side-vide">
        <div class="side-video-container">
            <iframe src="https://drive.google.com/file/d/14U1dRtcnZIkBOvfJ2xPDaFGHIt7IE4km/preview" width="100%" height="400" allow="autoplay"></iframe>
        </div>
    </div>    
</div>

<div class="quick-tab-bg">
    <div class="quick-tab">
        <a href="~/Home/RCCEBihar" class="work-list">
            <img src="~/Content/images/community-engagement.jpg" alt="RCCE BIHAR" />
            <h4>RCCE BIHAR</h4>
        </a>
        <a href="~/Home/SRHRNeedsInMigrant" class="work-list">
            <img src="~/Content/images/migrant-girl.jpg" alt="SRHR Needs in Migrants" />
            <h4>SRHR Needs in Migrants</h4>
        </a>
        <a href="~/Home/IFAAdherence" class="work-list">
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
            <h4>IFA Adherence</h4>
        </a>
        <a href="~/Home/jtsp" class="work-list">
            <img src="~/Content/images/jtsp.jpg" alt="JTSP" />
            <h4>JTSP</h4>
        </a>
    </div>
</div>