<!-- Pages Banner -->
<div class="other-pages-banner">
    <div class="page-background"></div>
    <h2>Monitoring and Evaluation</h2>
</div>

<!-- Pages Content -->
<div class="pages-content">
    <img src="~/Content/images/work-area.png" alt="" class="pages-img" />
    <div class="entry">
        <p>This is the phase in which we put the final solutions to the litmus test of adoption and regular use among a larger group of users and/or service providers and measure the impact in terms of expected outcomes. </p>
        <p>We track the adoption over a period of time to understand the phases of uptake, fidelity of implementing the interventions, making course corrections to respond to any unexpected or unforeseen changes in the ecosystems, and measuring final impact through rigorous evaluation. </p>
        <p>Our team of Monitoring, Evaluation and Learning (MEL) experts use experimental, quasi-experimental or mixed-methods to design rigorous evaluations based on project needs to generate ‘proof-of-concept’ for the intervention solutions to be implemented at scale.</p>
    </div>
</div>