
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .team-members {
        padding: 0px 0px 50px;
        background: #DCE7ED;
    }

    .team-member-list {
        margin: auto;
        max-width: 1024px;
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px
    }

    .member-detail {
        background: #fff;
        flex-basis: 30%;
        margin: 15px 0;
        padding-bottom: 20px;
        -webkit-box-shadow: 2px 7px 5px 0px rgba(97,97,97,0.29);
        -moz-box-shadow: 2px 7px 5px 0px rgba(97,97,97,0.29);
        box-shadow: 2px 7px 5px 0px rgba(97,97,97,0.29);
    }

        .member-detail h3 {
            padding: 20px 20px 10px;
            font-size: 18px;
            color: #000;
            margin: 0px;
        }
            .member-detail h3 span {
                font-size: 16px;
                font-weight: normal;
                color: #FFA968;
            }
            .member-detail p {
                padding: 0px 20px;
                font-size: 14px;
                margin: 0px;
                color: #747474;
            }

    .member-border {
        margin-left: 20px;
        height: 4px;
        width: 60px;
        margin-bottom: 20px;
        background: #dbdbdb;
    }

    .detail-btn {
        padding: 4px 12px;
        background: #FFA968;
        color: #fff;
        border-radius: 5px;
        float: left;
        margin-left: 15px;
        margin-top: 10px
    }
        .detail-btn:hover {
            background: #D08044
        }
        .active6 {
            color: #000 !important;
        }
    
    .modal-wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 999999
    }
    .details-modal {
        max-width: 768px;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
    }
        .details-modal img {
            float: left;
            width: 35%;
            margin-right: 15px;
            margin-bottom: 15px;
        }
        .details-modal h3 {
            font-size: 22px;
            margin-bottom: 10px;
            margin-top: 0px
        }
            .details-modal h4 {
                color: #FFA968;
                font-size: 18px;
                font-weight: normal;
                margin: 5px 0
            }
            .details-modal p {
                font-size: 15px;
                margin: 10px 0;
            }
    .close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #d31212;
        color: #fff;
        width: 30px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        border-radius: 100px;
        cursor: pointer;
    }
        .close-btn i {
            display: block;
            margin-top: 8px
        }
        .modal-disable {
            display: none !important
        }
        @@media screen and (max-width: 900px) {
            .active6 {
            color: #FFA968 !important;
        }
            
            .member-detail {
                flex-basis: 47%;
            }
    }
    @@media screen and (max-width: 900px) {
        .details-modal {
            height: 90%;
            overflow-y: scroll;
            overflow-x: hidden;
            position: relative;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
        @@media screen and (max-width: 620px) {
            .team-member-list {
                flex-direction: column
            }
        }
</style>

<h1 class="service-title">BODH Team</h1>

<div class="team-members">
    <div class="team-member-list">
        <div class="member-detail">
            <img src="~/Content/images/andy.png" alt="ANDY BHANOT" />
            <h3>ANDY BHANOT <br /><span>(EXECUTIVE DIRECTOR)</span></h3>
            <div class="member-border"></div>
            <p>Andy is a Social & Behavior Change (SBC) strategist, Design-thinker and Behavioral Research expert with nearly four decades of experience in the development and private sectors across Asia and Africa.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/brijesh.jpg" alt="BRIJESH KUMAR GOVIND RAO" />
            <h3>BRIJESH KUMAR GOVIND RAO <br /><span>(ASSOCIATE DIRECTOR)</span></h3>
            <div class="member-border"></div>
            <p>Brijesh’s expertise lies in the areas of designing & managing behavior change interventions using Behavioral Science, Human Centered Design (HCD) and Communication Strategy.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/bindu.jpg" alt="BINDU KHERA" />
            <h3>BINDU KHERA <br /><span>(EXECUTIVE PRODUCER)</span></h3>
            <div class="member-border"></div>
            <p>Bindu Khera has over two decades of experience directing and producing successful SBCC programs including long running edutainment drama series and reality shows.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/manoj.jpg" alt="MANOJ KUMAR" />
            <h3>MANOJ KUMAR <br /><span>(BEHAVIORAL RESEARCHER)</span></h3>
            <div class="member-border"></div>
            <p>Manoj is a social and behavior change (SBC), community mobilization and program management expert with nearly two decades of experience in the development sector in Bihar and Jharkhand.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/swati.jpg" alt="SWATI" />
            <h3>SWATI <br /><span>(SBC & DESIGN RESEARCHER)</span></h3>
            <div class="member-border"></div>
            <p>Swati is a seasoned professional with over eleven years of experience in Maternal and Child Health & Nutrition, and Women’s Economic and Social Empowerment. She has extensive experience leading.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/amrita.jpg" alt="DR. AMRITA MISRA" />
            <h3>DR. AMRITA MISRA <br /><span>(DIRECTOR - HEALTH AND NUTRITION)</span></h3>
            <div class="member-border"></div>
            <p>Dr. Amrita Misra is the Director for Health and Nutrition at PCI India. She is an M.D. in Community Medicine from Lady Hardinge Medical College and has over 22 years of experience in managing projects.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/irina.jpg" alt="IRINA SINHA" />
            <h3>IRINA SINHA <br /><span>(SENIOR DIRECTOR- STRATEGIC PARTNERSHIPS & WOMEN ECONOMIC EMPOWERMENT (WEE))</span></h3>
            <div class="member-border"></div>
            <p>Irina is a Senior Director for Strategic Insight & Systems at PCI India. She has over 22 years of experience in the social development of India.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/sushmita.jpg" alt="SUSHMITA MUKHERJEE" />
            <h3>SUSHMITA MUKHERJEE <br /><span>(DIRECTOR - GENDER AND ADOLESCENT GIRLS)</span></h3>
            <div class="member-border"></div>
            <p>Sushmita Mukherjee is a Director, Gender and Adolescent Girls at PCI India. Ms. Mukherjee provides an overall direction and guidance for gender mainstreaming in the execution of different projects.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
        <div class="member-detail">
            <img src="~/Content/images/sudipta.jpg" alt="DR. SUDIPTA MONDAL" />
            <h3>DR. SUDIPTA MONDAL <br /><span>(SENIOR DIRECTOR - MEASUREMENT LEARNING AND EVALUATION)</span></h3>
            <div class="member-border"></div>
            <p>Sushmita Mukherjee is a Director, Gender and Adolescent Girls at PCI India. Ms. Mukherjee provides an overall direction and guidance for gender mainstreaming in the execution of different projects.</p>
            <a href="javascript:void(0)" class="detail-btn">View Details</a>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal-wrapper modal-disable">
    <div class="details-modal">
        <span class="close-btn"><i class="fa fa-times"></i></span>
        <img src="" alt="" class="user-photo" />
        <h3 class="user-title"></h3>
        <h4 class="user-designation"></h4>
        <div class="user-details"></div>
    </div>
</div>

<!-- Show Less Function -->
<script>
    const team = [
        {
            name: 'ANDY BHANOT',
            designation: 'EXECUTIVE DIRECTOR',
            details: ['Andy is a Social & Behavior Change (SBC) strategist, Design-thinker and Behavioral Research expert with nearly four decades of experience in the development and private sectors across Asia and Africa. Over the last 19 years he has provided strategic leadership for development, monitoring and evaluation of award-winning SBC programs at BBC Media Action, Johns Hopkins Centre for Communication Programs, Westat, Abt Associates and Project Concern International (PCI). Projects managed by him have covered a range of domain areas such as reproductive, maternal, new-born, child and adolescent health (RMNCH+A), nutrition, family planning, HIV/AIDS, tuberculosis, WASH, women’s empowerment, climate-change and governance for programs funded by USAID, UKAID (DFID), UNICEF, B&MGF, Packard Foundation and the World Bank among other international organizations. Prior to joining the development sector, he worked for two decades with the advertising and consumer research industry directing brand, consumer and business research for a range of clients that included leading multinational and corporate organizations.', 'In his current role at BODH, Andy leads the practice of behavioral science and human centered design (HCD) for development, implementation, and evaluation of social and behavior change interventions for projects across India and other countries. The programs seek to promote social behavior change among marginalized and poor communities by building awareness about healthy behaviors, shaping their beliefs, attitudes and norms, and nudging them to adopt desired behaviors by shaping choice architecture. The programs are disseminated among the target audience using 360 degree or trans-media approach through mass media, mid media, digital and interpersonal communication channels.', 'Andy completed his postgraduation in Rural Management from the Institute of Rural Management Anand (IRMA), in Data Science from the Great Lakes Institute of Management & Research.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/andy.png'
        },
        {
            name: 'BRIJESH KUMAR GOVIND RAO',
            designation: 'ASSOCIATE DIRECTOR',
            details: ['Brijesh’s expertise lies in the areas of designing & managing behavior change interventions using Behavioral Science, Human Centered Design (HCD) and Communication Strategy for influencing socio-cultural norms.', 'He has over two decades of experience designing SBCC campaigns, developing large-scale capacity-building systems, conducting program quality assessments and concurrent monitoring, and driving learning agenda of program interventions. He has worked with organizations such as PATH, Social Mobilization Network (A UNICEF Initiative), and Sahabhagi Shikshan Kendra in Lucknow.', 'As the Associate Director at (BODH) Brijesh spearheads program, client and stakeholder management, exploration of behavioral science, HCD and technology application in emerging areas like Climate Change and Environment Management, Women’s Economic Empowerment, and Social Justice for the Vulnerable Segments.', 'Brijesh holds a post-graduate degree in Social Work from Lucknow University.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/brijesh.jpg'
        },
        {
            name: 'BINDU KHERA',
            designation: 'EXECUTIVE PRODUCER',
            details: ['Bindu Khera has over two decades of experience directing and producing successful SBCC programs including long running edutainment drama series and reality shows, public service advertisements, TV and radio commercials, print, outdoor, social media and training content. Over the last twenty years she has worked in organizations like Abt Associates, FHI 360, Save the Children, UNICEF, BBC Media Action, J Walter Thomson, NDTV and M&M Network.', 'At PCI India, Bindu leads creative development of SBCC strategy and media content for range of projects covering themes of maternal and child health and nutrition, gender and adolescent development, women’s economic empowerment, climate change and livelihoods.', 'Bindu has an MBA and a major in Psychology from Punjab University.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/bindu.jpg'
        },
        {
            name: 'MANOJ KUMAR',
            designation: 'BEHAVIORAL RESEARCHER',
            details: ['Manoj is a social and behavior change (SBC), community mobilization and program management expert with nearly two decades of experience in the development sector in Bihar and Jharkhand. In his professional journey he has been responsible for strategic development, monitoring and implementation of SBC programs at IDF, Badlao Foundation, and Project Concern International (PCI). The projects managed by him have covered multiple domain areas like Reproductive, Maternal Child and Adolescent Health (RMNCH+A), Nutrition, Family Planning, and WASH. He has hands-on experience of nurturing Community Institutions through women’s Self-Help Groups and their higher-level federations for the integrated development on Social and Economic parameters.', 'In his current role at BODH, Manoj leads on-ground research, working closely with communities and stakeholders to co-design, implement and evaluate program interventions in Bihar and other states. The programs seek to promote social behavior change among marginalized and poor communities by influencing their beliefs, attitudes and norms, and nudging them to adopt desired behaviors through behaviorally tested strategies.', 'Manoj obtained his Masters in Rural Development from Patna University, and Graduation from Magadh University.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/manoj.jpg'
        },
        {
            name: 'SWATI',
            designation: 'SBC & DESIGN RESEARCHER',
            details: ['Swati is a seasoned professional with over eleven years of experience in Maternal and Child Health & Nutrition, and Women’s Economic and Social Empowerment. She has extensive experience leading various Social and Behavior Change Communication (SBCC) programs focused on maternal and child health & nutrition in Bihar. Swati has worked on numerous SBCC programs, providing technical support to government agencies for training and capacity-building initiatives. She has led co-creation of multiple analog and digital IEC and SBCC tools related to maternal and child health, family planning, routine immunization, and strengthening community institutions. She has supervised design and development of various capacity building programs and automated hybrid training models, ensuring the effective implementation of SBCC programs.', 'During her tenure at the Bihar Rural Livelihoods Promotion Society (BRLPS), Swati showcased a deep understanding of community dynamics and state-level operations, playing a crucial role in integrating health, nutrition, and sanitation into livelihood projects across 534 blocks in Bihar. Her efforts in designing SBCC programs, capacity-building strategies, and stakeholder collaboration significantly enhanced the effectiveness of grassroots health and nutrition programs, highlighting her expertise in managing large-scale training initiatives and developing comprehensive action plans.', 'In her current role at BODH, Swati oversees the implementation of research and design sprints at the grassroots level to identify behavioral and structural barriers to healthy behaviors. She is involved in ideating, co-designing, and testing solutions to address these barriers.', 'Swati holds a Post-Graduate Diploma in Rural Management from Xavier Institute of Social Service, Ranchi.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/swati.jpg'
        },
        {
            name: 'DR. AMRITA MISRA',
            designation: 'Director - Health and Nutrition',
            details: ['Dr. Amrita Misra is the Director for Health and Nutrition at PCI India. She is an M.D. in Community Medicine from Lady Hardinge Medical College and has over 22 years of experience in managing projects on maternal, newborn, child, and adolescent health, nutrition, WASH and Infectious Diseases.', 'Before joining PCI India, Amrita worked with John Snow India as Senior Technical Advisor. She has earlier worked with the United Nations and the World Health Organization in various techno-managerial capacities. Amrita is a member of the Technical Advisory Group of MOHFW on Kangaroo Mother Care (KMC) and several other professional and advisory bodies.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/amrita.jpg'
        },
        {
            name: 'IRINA SINHA',
            designation: 'Senior Director- Strategic partnerships & Women Economic Empowerment (WEE)',
            details: ['Irina is a Senior Director for Strategic Insight & Systems at PCI India. She has over 22 years of experience in the social development of India, especially Bihar. She spearheads large-scale government and donor-supported programmes mostly specific to women’s empowerment.', 'Irina has been instrumental in the preparation of the Women Empowerment Policy for the state of Bihar. Before joining PCI, Irina was the Project Director of Women Development Corporations, a nodal organization for administering women-related programmes under the Department of Social Welfare, Government of Bihar. She was also the driving force behind the World Bank-supported JEEViKA initiative in its early years.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/irina.jpg'
        },
        {
            name: 'SUSHMITA MUKHERJEE',
            designation: 'Director - Gender and Adolescent Girls',
            details: ['Sushmita Mukherjee is a Director, Gender and Adolescent Girls at PCI India. Ms. Mukherjee provides an overall direction and guidance for gender mainstreaming in the execution of different projects. She also leads the ‘Umang Project’ as Project Director, Jharkhand that strives to empower mothers as key agents to stop Child Marriage of young adolescent girls and boys.', 'She helps PCI India build its body of work in the gender and empowerment domain and has created a space for itself among its peers and donors. Before joining PCI, Sushmita worked at CARE India as Regional Program Director. Sushmita graduated from Delhi University with a Master’s Degree in Community Resource Management and Extension. '],
            photo: 'https://bodh.pcidigitals.in/Content/images/sushmita.jpg'
        },
        {
            name: 'DR. SUDIPTA MONDAL',
            designation: 'Senior Director - Measurement Learning and Evaluation',
            details: ['Dr. Sudipta Mondal is a seasoned Measurement, Learning, and Evaluation (MLE) specialist with over 20 years of experience in the non-profit sector in India. Currently serving as Senior Director – MLE at PCI India, Sudipta has previously held several senior-level MLE positions in national and international agencies.', 'He has a strong command of theoretical concepts and practical experience in applying diverse approaches for social and behavioral research and evaluation studies in the realms of public health, nutrition, gender, social norms, livelihoods, and social protection. Sudipta is an expert in developing evaluation frameworks for projects, programs, and policies and has led multiple evaluations encompassing experimental (RCTs), quasi-experimental (RDD, DID, PSM) designs., He is a firm advocate of mixed methods in social science research and prefers theory-based and participatory approaches in program evaluation. Sudipta holds a Master in Economics, M. Phil, and Ph.D. in Population Studies, and a Diploma in Management. He has presented his work at various conferences and published several research articles in top-tier journals.'],
            photo: 'https://bodh.pcidigitals.in/Content/images/sudipta.jpg'
        }
    ]

    const btnEL = document.querySelectorAll('.detail-btn');
    const userPhoto = document.querySelector('.user-photo');
    const userTitle = document.querySelector('.user-title');
    const userDesignation = document.querySelector('.user-designation');
    const userDetails = document.querySelector('.user-details');
    const modalWrapper = document.querySelector('.modal-wrapper');
    const closeBtn = document.querySelector('.close-btn');

    let btnNumb;
    let details;
    btnEL.forEach((btn, i) => {
        btn.addEventListener('click', () => {
            details = '';
            btnNumb = i;
            userTitle.innerHTML = team[i].name;
            userDesignation.innerHTML = team[i].designation;
            userPhoto.src = team[i].photo;
            console.log(team[i].details)
            for (let det of team[i].details) {
                details+= `<p>${det}</p>`
            }
            userDetails.innerHTML = details;
            modalWrapper.classList.remove('modal-disable')
        })        
    })

    closeBtn.addEventListener('click', () => {
        modalWrapper.classList.add('modal-disable')
    })
</script>

