<style>
    .active2 {
        color: #000 !important;
    }
</style>
<div class="pages-banner"></div>

<div class="our-work-content">
    <h1>Our Work</h1>
    <p>At BODH, our work begins by understanding the barriers that prevent our project segments from adopting desired behaviours, and the attitudes, beliefs and norms that drive those barriers. We leverage our knowledge of behavioural science and our understanding of the communities and stakeholders based on our years of working with them, to co-create effective solutions using principles of human-centred design and theories of social behaviour change. We have successfully used this model to develop, test, refine, implement and evaluate award-winning communication, digital and service delivery interventions for projects focusing on Health and Nutrition, Family Planning, Gender, Livelihoods and Climate Change.</p>
</div>
<div class="quick-tab">
    <a href="~/Home/MaleEngagement" class="work-list">
        <img src="~/Content/images/engaging-men.jpg" alt="Male Engagement" />
        <h4>Male Engagement</h4>
    </a>
    <a href="~/Home/RCCEBihar" class="work-list">
        <img src="~/Content/images/community-engagement.jpg" alt="RCCE BIHAR" />
        <h4>RCCE BIHAR</h4>
    </a>
    <a href="~/Home/SRHRNeedsInMigrant" class="work-list">
        <img src="~/Content/images/migrant-girl.jpg" alt="SRHR Needs in Migrants" />
        <h4>SRHR Needs in Migrants</h4>
    </a>
    <a href="~/Home/IFAAdherence" class="work-list">
        <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
        <h4>IFA Adherence</h4>
    </a>
</div>

@*<div class="full-content wh" id="MaleEngagement">
    <div class="page-content">
        <div class="content-box-2">
            <h2>ENGAGING MEN FOR BETTER HEALTH & NUTRITION OUTCOMES</h2>
            <p><img src="~/Content/images/engaging-men.jpg" alt="ENGAGING MEN FOR BETTER HEALTH & NUTRITION OUTCOMES" class="img-rt" />The project sought to devise and test several innovative solutions that focus on engaging men as a channel for promoting more equitable gender relations, joint household decision-making practices, and improved family planning and nutrition behaviours. BODH took the approach anchored in Human-Centred Design (HCD) research and behavioural science. Out of several concepts co-created with diverse stakeholders, two were shortlisted for rapid prototyping and user-testing. The project was implemented in Sarairanjan and Khanpur blocks of Samastipur district in Bihar, between 2019-2022 with support from Bill and Melinda Gates Foundation.</p>
            <p>The Dekh-Rekh tool was created to help families visualise their nutrition habits and connect them with their goals. Couples were encouraged to have more conversations about food choices and make informed decisions about what they feed their children. Facilitators collected weekly data from each household and provided feedback on the diversity of their child's diet, and its impact on their growth and development.</p>
            <p>Hamari Shaadi, Hamare Sapne, a financial planning course, was developed and tested with newlywed couples. The couples were enrolled to helped them better understand how they can achieve their life goals and aspirations. This served as a platform to incorporate conversations on family planning, delaying and spacing as a way to reach their financial goals. The financial education course also had a few modules related to the child’s nutrition needs and the link between undernutrition and increased expenses on child health.</p>
            <h3>KEY ACHIEVEMENTS</h3>
            <div class="box-flex">
                <div class="boxes-line">
                    <p>Spousal Communication on child nutrition went up by almost <span class="high-bg">19%</span> points. Spousal communication on family planning needs went up by <span class="high-bg">14%</span> points.</p>
                </div>
                <div class="boxes-line"><p>Couples in the intervention villages started substituting packaged foods (biscuits, chips) being given to young children with home-cooked nutritious foods.</p></div>
                <div class="boxes-line"><p>Parents reported increased activity and visible growth signs and reduced episodes of sickness among children.</p></div>
                <div class="boxes-line"><p>Couples enrolled for the family planning intervention reported the adoption of modern contraceptive methods and discussion with the village health worker to learn more about spacing and delaying methods.</p></div>
            </div>
        </div>
    </div>
</div>
<div class="full-content cl" id="RCCEBIHAR">
    <div class="page-content">
        <div class="content-box-2">
            <h2>Risk Communication and Community Engagement (RCCE) support on SBCC in Bihar for Covid-19</h2>
            <img src="~/Content/images/community-engagement.jpg" class="img-lft" alt="Risk Communication and Community Engagement (RCCE) support on SBCC in Bihar for Covid-19" />
            <h3>Project Geography:</h3>
            <p>Urban and rural areas across all districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>During the COVID-19 pandemic, in rural India, many households slipped in and out of poverty, facing food insecurity and having no source of income. The return of migrant workers back to their rural homes worsened the scenario (EPW, Oct-2021). A NABARD study reveals that after the reverse migration, income of the 83% surveyed households fell below Rs.6000 per month (Rural Pulse, June-July 2021). In such a scenario, it became extremely important to promote the access of vulnerable populations to social safety nets.</p>
            <h3>Objectives:</h3>
            <p>Two major outcomes expected from the project were:</p>
            <ul>
                <li>•	RCCE support to the Govt. of Bihar in developing distinct SBCC strategies to mitigate adverse effects of the pandemic through harm reduction, remaining healthy during the lockdown and rebuilding life and society after the lockdown</li>
                <li>•	Develop targeted SBCC content for preventing COVID spread, promoting adoption of COVID Appropriate Behaviors (CAB) and uptake of COVID Vaccination, and support dissemination through official GoB channels including social media platforms like Telegram, WhatsApp etc.</li>
            </ul>
            <div class="funnel">
                <div class="funnel-box">
                    <h3>Major activities undertaken:</h3>
                    <ol>
                        <li><b>1.	RCCE Coordination:</b> Facilitated collaboration between Bihar government and development partners for communication activities.</li>
                        <li><b>2.	Community Research:</b> Conducted research on COVID-19 related issues to inform communication strategies</li>
                        <li>
                            <b>3.	SBCC Content Creation:</b> Developed a wide range of communication materials, including:
                            <ul>
                                <li>•	TV commercials and radio spots promoting COVID-19 Appropriate Behaviors (CAB) and vaccination.</li>
                                <li>•	Animation films on CAB, immunity building, and mental health.</li>
                                <li>•	Social media posts and GIFs.</li>
                                <li>•	Print materials supporting the Bihar government's TEEKASHALA campaign.</li>
                            </ul>
                        </li>
                        <li><b>4.	Research & Insights:</b> Conducted research to assess vaccine hesitancy and shared insights from community surveillance.</li>
                    </ol>
                </div>
                <div class="funnel-box">
                    <h3>Reach & Impact:</h3>
                    <p>Mass Media Reach: COVID anthem, testimonials, and handwashing videos aired on TV and radio stations, potentially reaching over 10 million people.</p>
                    <p>Social Media Dissemination: Animation videos and social media content disseminated through government and development partner channels.</p>
                    <p><b>SHG Network Mobilization:</b> Over 920,000 SHGs reached through trained JEEViKA cadres for message dissemination. </p>
                    <p>The project contributed to Bihar Government’s ongoing efforts to disseminate COVID related information, promote COVID Appropriate Behaviors, Nutrition and Immunity building and Psychosocial Health during successive waves of pandemic, and to promote uptake of COVID vaccination by reducing vaccine hesitancy and busting myths around the vaccines. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-content wh" id="SRHRNeedsinMigrants">
    <div class="page-content">
        <div class="content-box-1"></div>
        <div class="content-box-2">
            <h2>Sexual and Reproductive Health and Rights (SRHR) Needs in Migrants</h2>
            <img src="~/Content/images/migrant-girl.jpg" class="img-rt" alt="Sexual and Reproductive Health and Rights (SRHR) Needs in Migrants" />
            <p>Developing innovative solutions to address SRHR needs of migrant households</p>
            <h3>Project Geography:</h3>
            <p>Gopalganj and Madhubani districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>Bihar, India's third-largest state with a high male out-migration rate, faces a unique challenge in family planning. Evidence from National Family Health Surveys indicates that women with migrant husbands are less likely to use modern contraceptives.</p>
            <p>Formative research conducted in 2019 by Population Council found that it is the migratory environment that has more influence on contraceptive use behavior than migration itself. The research revealed diverse reasons for the non-use of contraception, rooted deeply in socio-cultural beliefs and norms, such as:</p>
            <ul>
                <li><i class="fa fa-arrow-circle-left"></i>	Stigma, among women with a migrant husband, in accessing contraception,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Non-preparedness for contraceptive use upon husband’s return,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Low perceived need for FP – underestimation of pregnancy risk, </li>
                <li><i class="fa fa-arrow-circle-left"></i> Son preference – propensity to continue childbearing till a son is born,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Fear of illness while husband is away as the woman is often the primary caregiver for children and elders in the family,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Communication and decision making related to contraceptive use – lack of agency among women due to fear of upsetting husband,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Considering pregnancy as natural contraception. </li>
            </ul>
            <h3>Objectives:</h3>
            <p>The project sought to foster a conducive environment for better reproductive health, rights, choice, and decision-making among women living in high migration areas of the state. The innovative project used human centred design (HCD) and behavioral science informed approaches to pilot test a set of innovative SBC solutions aimed to address the vulnerabilities and FP needs of the population segments impacted by migration.</p>
        </div>
    </div>
</div>
<div class="full-content cl" id="IFAAdherence">
    <div class="page-content">
        <div class="content-box-2">
            <h2>IFA Adherence</h2>
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" class="img-lft" />
            <p>Developing innovative solutions to increase adherence to IFA supplements among women of reproductive age and adolescents in Bihar</p>
            <h3>Project Geography:</h3>
            <p>Bhojpur and Begusarai districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>Bihar, India's third most populous state with a largely rural population <span class="high-bg">(85%)</span>, faces a significant challenge with anemia. Nearly <span class="high-bg">65%</span> of women in Bihar are anemic (NFHS-5 data).</p>
            <p>To address low adherence to iron folic acid (IFA) tablets, a key intervention for pregnant women, PCI India partnered with design and creative agencies. Data from CARE's household surveys revealed behavioral barriers like forgetfulness, lack of perceived benefits, and even advice against taking the tablets. This project emphasizes the importance of understanding user emotions and implementing interventions with a human-centered design approach.</p>
            <h3>Objectives:</h3>
            <p><b>The major objectives of the program are:</b></p>
            <ol>
                <li>1)	To increase uptake and adherence to IFA supplements among women of reproductive age, including pregnant and lactating women, and adolescents;</li>
                <li>2)	To generate implementation knowledge on how to deliver at scale withing the government system; and</li>
                <li>3)	To reduce Gender Barriers affecting access and adherence to IFA supplements.</li>
            </ol>
        </div>
        <div class="content-box-1"></div>
    </div>
</div>*@