<style>
    .active2 {
        color: #000 !important;
    }
</style>

<div class="pages-banner rcce-banner"></div>
<div class="our-work-content">
    <h1>Risk Communication and Community Engagement (RCCE) support on SBCC in Bihar for Covid-19</h1>
</div>

<div class="full-content wh">
    <div class="page-content">
        <div class="content-box-2">
            <img src="~/Content/images/community-engagement.jpg" class="img-lft" alt="Risk Communication and Community Engagement (RCCE) support on SBCC in Bihar for Covid-19" />
            <h3>Project Geography:</h3>
            <p>Urban and rural areas across all districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>During the COVID-19 pandemic, in rural India, many households slipped in and out of poverty, facing food insecurity and having no source of income. The return of migrant workers back to their rural homes worsened the scenario (EPW, Oct-2021). A NABARD study reveals that after the reverse migration, income of the 83% surveyed households fell below Rs.6000 per month (Rural Pulse, June-July 2021). In such a scenario, it became extremely important to promote the access of vulnerable populations to social safety nets.</p>
            <br />
            <h3>Objectives:</h3>
            <img src="~/Content/images/rcce-bihar-objectives.jpg" class="img-rt" alt="RCCE Bihar Objectives" />
            <p>Two major outcomes expected from the project were:</p>
            <ul>
                <li>•	RCCE support to the Govt. of Bihar in developing distinct SBCC strategies to mitigate adverse effects of the pandemic through harm reduction, remaining healthy during the lockdown and rebuilding life and society after the lockdown</li>
                <li>•	Develop targeted SBCC content for preventing COVID spread, promoting adoption of COVID Appropriate Behaviors (CAB) and uptake of COVID Vaccination, and support dissemination through official GoB channels including social media platforms like Telegram, WhatsApp etc.</li>
            </ul>
            <div class="breaker"></div>
            <div class="rcce-video">
                <h3>RCCE Bihar Video</h3>
                <iframe src="https://drive.google.com/file/d/1wt0SQcubKcHZSsy0nEO2PQIgjAyzTZvJ/preview" width="100%" height="480" allow="autoplay"></iframe>
            </div>
            
            <div class="funnel">
                <div class="funnel-box">
                    <h3>Major activities undertaken:</h3>
                    <ol>
                        <li><b>1.	RCCE Coordination:</b> Facilitated collaboration between Bihar government and development partners for communication activities.</li>
                        <li><b>2.	Community Research:</b> Conducted research on COVID-19 related issues to inform communication strategies</li>
                        <li>
                            <b>3.	SBCC Content Creation:</b> Developed a wide range of communication materials, including:
                            <ul>
                                <li>•	TV commercials and radio spots promoting COVID-19 Appropriate Behaviors (CAB) and vaccination.</li>
                                <li>•	Animation films on CAB, immunity building, and mental health.</li>
                                <li>•	Social media posts and GIFs.</li>
                                <li>•	Print materials supporting the Bihar government's TEEKASHALA campaign.</li>
                            </ul>
                        </li>
                        <li><b>4.	Research & Insights:</b> Conducted research to assess vaccine hesitancy and shared insights from community surveillance.</li>
                    </ol>
                </div>
                <div class="funnel-box">
                    <h3>Reach & Impact:</h3>
                    <p>Mass Media Reach: COVID anthem, testimonials, and handwashing videos aired on TV and radio stations, potentially reaching over 10 million people.</p>
                    <p>Social Media Dissemination: Animation videos and social media content disseminated through government and development partner channels.</p>
                    <p><b>SHG Network Mobilization:</b> Over 920,000 SHGs reached through trained JEEViKA cadres for message dissemination. </p>
                    <p>The project contributed to Bihar Government’s ongoing efforts to disseminate COVID related information, promote COVID Appropriate Behaviors, Nutrition and Immunity building and Psychosocial Health during successive waves of pandemic, and to promote uptake of COVID vaccination by reducing vaccine hesitancy and busting myths around the vaccines. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="quick-tab-bg">
    <div class="quick-tab">
        <a href="~/Home/MaleEngagement" class="work-list">
            <img src="~/Content/images/engaging-men.jpg" alt="Male Engagement" />
            <h4>Male Engagement</h4>
        </a>
        <a href="~/Home/SRHRNeedsInMigrant" class="work-list">
            <img src="~/Content/images/migrant-girl.jpg" alt="SRHR Needs in Migrants" />
            <h4>SRHR Needs in Migrants</h4>
        </a>
        <a href="~/Home/IFAAdherence" class="work-list">
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
            <h4>IFA Adherence</h4>
        </a>
    </div>
</div>
