<h1 class="service-title">Services</h1>
<div class="service-box">
    <div class="box-1">
        <h2>Barrier Identification</h2>
        <p>Barrier identification focuses on ‘framing the right problem’ and ‘framing it right’ to create an effective solution. This stage is guided, in principle, by the Empathize and Define steps of the Human Centered Design (HCD) process to give our team an accurate and thorough understanding of the needs and motivations of our target populations. We use a range of methodologies from ethnographic immersions to literature review, secondary data analysis and formative research, using both qualitative and quantitative techniques, to clearly identify the behavioral barriers that need to be addressed. Using a behavioral science lens, we analyze user-behaviors to understand the systematic biases and heuristics that guide their conscious and sub-conscious decision making. This understanding helps our team to come up with ‘nudges’ and ‘design innovations’ around which the solutions are developed.</p>
    </div>
    <div class="box-2">
        <img src="~/Content/images/define.png" alt="define" />
    </div>
</div>
<div class="service-bg">
    <div class="service-box">
        <div class="box-2">
            <img src="~/Content/images/design.png" alt="design" />
        </div>
        <div class="box-1">
            <h2>Solution Development</h2>
            <p>Equipped with a thorough understanding of the behavioral barriers to address, we work with the stakeholders – communities, service delivery ecosystem and policy & program influencers to generate innovative solution concepts. This stage is guided, in principle, by the Ideate and Prototype steps of the HCD Process, and the purpose is to facilitate ideation and creative thinking by involving the actual users and service providers. User journey mapping, how-might-we ideation and affinity mapping are some tools that we use to generate and translate innovative ideas into low-resolution prototypes that are quick and cheap to make but can elicit useful feedback from them. </p>
        </div>
    </div>
</div>

<div class="service-box">
    <div class="box-1">
        <h2>Solution Testing</h2>
        <p>This phase involves testing the prototypes shortlisted based on user feedback, by actually placing them with a sample of users and service providers, and iteratively refining them through ‘feedback sprints’ till we arrive at a minimum viable product (MVP). For this phase, our team sets up a ‘behavioral lab’ in the actual field conditions and works closely with a sample of users and service providers to rapidly incorporate their feedback for smoothening out the rough edges in the solution prototypes and make them very ‘easy-to-use’. The idea is to have a working prototype ready for implementation among a wider group of users, service providers and system stakeholders, and find out how effective is it in promoting the uptake of desired behaviors.   </p>
    </div>
    <div class="box-2">
        <img src="~/Content/images/diagnose.png" alt="diagnose" />
    </div>
</div>
<div class="service-bg">
    <div class="service-box">
        <div class="box-2">
            <img src="~/Content/images/monitoring.png" alt="monitoring" />
        </div>
        <div class="box-1">
            <h2>Monitoring and Evaluation</h2>
            <p>This is the phase in which we put the final solutions to the litmus test of adoption and regular use among a larger group of users and/or service providers and measure the impact in terms of expected outcomes. We track the adoption over a period of time to understand the phases of uptake, fidelity of implementing the interventions, making course corrections to respond to any unexpected or unforeseen changes in the ecosystems, and measuring final impact through rigorous evaluation. Our team of Monitoring, Evaluation and Learning (MEL) experts use experimental, quasi-experimental or mixed-methods to design rigorous evaluations based on project needs to generate ‘proof-of-concept’ for the intervention solutions to be implemented at scale.</p>
        </div>
    </div>
</div>

