<!-- Pages Banner -->
<div class="other-pages-banner">
    <div class="page-background"></div>
    <h2>Solution Testing</h2>
</div>

<!-- Pages Content -->
<div class="pages-content">
    <img src="~/Content/images/work-area.png" alt="" class="pages-img" />
    <div class="entry">
        <p>This phase involves testing the prototypes shortlisted based on user feedback, by actually placing them with a sample of users and service providers, and iteratively refining them through ‘feedback sprints’ till we arrive at a minimum viable product (MVP).</p>
        <p>For this phase, our team sets up a ‘behavioral lab’ in the actual field conditions and works closely with a sample of users and service providers to rapidly incorporate their feedback for smoothening out the rough edges in the solution prototypes and make them very ‘easy-to-use’.</p>
        <p>The idea is to have a working prototype ready for implementation among a wider group of users, service providers and system stakeholders, and find out how effective is it in promoting the uptake of desired behaviors.</p>
    </div>
</div>