<!-- Pages Banner -->
<div class="other-pages-banner">
    <div class="page-background"></div>
    <h2>Solution Development</h2>
</div>

<!-- Pages Content -->
<div class="pages-content">
    <img src="~/Content/images/work-area.png" alt="" class="pages-img" />
    <div class="entry">
        <p>Equipped with a thorough understanding of the behavioral barriers to address, we work with the stakeholders – communities, service delivery ecosystem and policy & program influencers to generate innovative solution concepts.</p>
        <p>This stage is guided, in principle, by the Ideate and Prototype steps of the HCD Process, and the purpose is to facilitate ideation and creative thinking by involving the actual users and service providers. User journey mapping, how-might-we ideation and affinity mapping are some tools that we use to generate and translate innovative ideas into low-resolution prototypes that are quick and cheap to make but can elicit useful feedback from them. </p>
    </div>
</div>
