
<style>
    .active2 {
        color: #000 !important;
    }
</style>

<div class="pages-banner"></div>
<div class="our-work-content">
    <h1>Sexual and Reproductive Health and Rights (SRHR) Needs in Migrants</h1>
    <p>Developing innovative solutions to address SRHR needs of migrant households</p>
</div>

<div class="full-content wh">
    <div class="page-content">
        <div class="content-box-1"></div>
        <div class="content-box-2">
            <img src="~/Content/images/migrant-girl.jpg" class="img-rt" alt="Sexual and Reproductive Health and Rights (SRHR) Needs in Migrants" />
            <h3>Project Geography:</h3>
            <p>Gopalganj and Madhubani districts in Bihar</p>
            <h3>Project Background:</h3>
            <p>Bihar, India's third-largest state with a high male out-migration rate, faces a unique challenge in family planning. Evidence from National Family Health Surveys indicates that women with migrant husbands are less likely to use modern contraceptives.</p>
            <p>Formative research conducted in 2019 by Population Council found that it is the migratory environment that has more influence on contraceptive use behavior than migration itself. The research revealed diverse reasons for the non-use of contraception, rooted deeply in socio-cultural beliefs and norms, such as:</p>
            <ul>
                <li><i class="fa fa-arrow-circle-left"></i>	Stigma, among women with a migrant husband, in accessing contraception,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Non-preparedness for contraceptive use upon husband’s return,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Low perceived need for FP – underestimation of pregnancy risk, </li>
                <li><i class="fa fa-arrow-circle-left"></i> Son preference – propensity to continue childbearing till a son is born,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Fear of illness while husband is away as the woman is often the primary caregiver for children and elders in the family,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Communication and decision making related to contraceptive use – lack of agency among women due to fear of upsetting husband,</li>
                <li><i class="fa fa-arrow-circle-left"></i> Considering pregnancy as natural contraception. </li>
            </ul>
            <h3>Objectives:</h3>
            <p>The project sought to foster a conducive environment for better reproductive health, rights, choice, and decision-making among women living in high migration areas of the state. The innovative project used human centred design (HCD) and behavioral science informed approaches to pilot test a set of innovative SBC solutions aimed to address the vulnerabilities and FP needs of the population segments impacted by migration.</p>
        </div>
    </div>
</div>

<div class="quick-tab-bg">
    <div class="quick-tab">
        <a href="~/Home/MaleEngagement" class="work-list">
            <img src="~/Content/images/engaging-men.jpg" alt="Male Engagement" />
            <h4>Male Engagement</h4>
        </a>
        <a href="~/Home/RCCEBihar" class="work-list">
            <img src="~/Content/images/community-engagement.jpg" alt="RCCE BIHAR" />
            <h4>RCCE BIHAR</h4>
        </a>
        <a href="~/Home/IFAAdherence" class="work-list">
            <img src="~/Content/images/ifa-supplement.jpg" alt="IFA Adherence" />
            <h4>IFA Adherence</h4>
        </a>
    </div>
</div>