<style>
    .pdf-data {
        position: relative;
        padding: 0 10px
    }
    .manage-pdf {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2        
    }
    .active5 {
        color: #000 !important;
    }
</style>
<div class="download-paper">
    <h2>Studies Paper</h2>
    <hr />
    <div class="download-list">
        <div class="downloads">
            <h3><i class="fa fa-file-pdf pdf-icon"></i> Celebrating Mothers Day</h3>
            @*<p><i class="fa fa-file"></i> 230KB</p>*@
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <div class="pdf-data">
                <div class="manage-pdf">
                </div>
                <object data="~/Content/assets/file/download.pdf" type="text/html" width="100%" height="200"></object>
            </div>
            <a href="#">View PDF</a>
        </div>
        <div class="downloads">
            <h3><i class="fa fa-file-pdf word-icon"></i> Celebrating Mothers Day</h3>
            @*<p><i class="fa fa-file"></i> 230KB</p>*@
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <div class="pdf-data">
                <div class="manage-pdf">
                </div>
                <object data="~/Content/assets/file/download.pdf" type="text/html" width="100%" height="200"></object>
            </div>
            <a href="#">View PDF</a>
        </div>
        <div class="downloads">
            <h3><i class="fa fa-file-pdf pdf-icon"></i> Celebrating Mothers Day</h3>
            @*<p><i class="fa fa-file"></i> 230KB</p>*@
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <div class="pdf-data">
                <div class="manage-pdf">
                </div>
                <object data="~/Content/assets/file/download.pdf" type="text/html" width="100%" height="200"></object>
            </div>
            <a href="#">View PDF</a>
        </div>
    </div>
</div>