
<div class="download-paper">
    <h2>Studies Paper</h2>
    <hr />
    <div class="download-list">
        <div class="downloads">
            <h3><i class="fa fa-file-pdf pdf-icon"></i> Celebrating Mothers Day</h3>
            <p><i class="fa fa-file"></i> 230KB</p>
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <a href="#">Download</a>
        </div>
        <div class="downloads">
            <h3><i class="fa fa-file-word word-icon"></i> Celebrating Mothers Day</h3>
            <p><i class="fa fa-file"></i> 230KB</p>
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <a href="#">Download</a>
        </div>
        <div class="downloads">
            <h3><i class="fa fa-file-pdf pdf-icon"></i> Celebrating Mothers Day</h3>
            <p><i class="fa fa-file"></i> 230KB</p>
            <p><i class="fa fa-clock"></i> 11th Apr, 2024</p>
            <a href="#">Download</a>
        </div>
    </div>
</div>